<a [routerLink]="['/sample']">page1</a>
<router-outlet></router-outlet>

<div class="formdesign">
        <div class="card-header texr-center"><h3>Form</h3></div>

 <form [FormGroup]="formdata">
    
     <div class="form-group">
        <label>FirstName</label>
        <input class="form-control" type="text" placeholder="firstName">
    </div>
     <div class="form-group">
        <label>LastName</label>
        <input class="form-control" type="text" placeholder="LastName">
     </div>
        <div class="form-group">
        <label>phonenumber</label>
        <input class="form-control" type="text" placeholder="phonenumber">
       </div>
      </form>  
  
  </div> 